/* Удаление рамок у таблицы */

table {
    margin-left: 60px;
    /* Левый отступ */
    margin-right: 60px;
    /* Правый отступ */
    border-collapse: collapse;
}


/* Центрирование таблицы */

td.search {
    text-align: center;
    padding: 20px;
    /* Добавляем внутренний отступ для центрирования */
}


/* Стили для текста студии */

.studio-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}


/* Стили для текста студии */

.studio-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}


/* Стили для макета */

.layout {
    width: 100%;
    border-collapse: collapse;
}

.layout td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}


/* Стили для левой и правой части шапки */

.header-left {
    background-color: #333;
    color: white;
    font-size: 18px;
    width: 20%;
}

.header-right {
    background-color: #333;
    color: white;
    font-size: 18px;
    width: 80%;
}


/* Стили для поиска */

.search {
    background-color: #f5f5f5;
    font-size: 18px;
}


/* Стили для горизонтального меню */

.horizontal-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* Сделаем элементы горизонтальными */
}

.horizontal-menu li {
    flex: 1;
    /* Распределение равного пространства между элементами */
    text-align: center;
    /* Выравнивание текста по центру */
}

.horizontal-menu a {
    text-decoration: none;
    color: #333;
    /* Цвет текста */
    padding: 10px 20px;
    /* Отступы для элементов меню */
    display: block;
    /* Сделаем элементы меню блочными для кликабельности */
    background-color: #f5f5f5;
    /* Цвет фона */
}

.horizontal-menu a:hover {
    background-color: #333;
    /* Изменение цвета фона при наведении курсора */
    color: white;
    /* Изменение цвета текста при наведении курсора */
}


/* Стили для списка фильмов */

.movie-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* Сделаем элементы горизонтальными */
    flex-wrap: wrap;
    /* Разрешим перенос элементов на новую строку */
}

.movie-list li {
    margin-right: 20px;
    /* Расстояние между фильмами */
    text-align: center;
    /* Выравнивание текста по центру */
    width: calc(25% - 20px);
    /* Разделение на 4 колонки с отступами между ними */
    margin-bottom: 20px;
    /* Отступ снизу для переноса элементов на новую строку */
}

.movie-list img {
    max-width: 356px;
    height: 120px;
    /* Ограничиваем размер изображения */
}

.movie-list h3 {
    font-size: 18px;
    margin: 10px 0;
    /* Отступы для заголовка фильма */
}

.movie-list p {
    font-size: 14px;
    color: #555;
    /* Стили для текста о фильме */
}


/* Стили для блока блога */

.blog-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.blog-list li {
    width: calc(33% - 20px);
    /* Разделение на 3 колонки с отступами между ними */
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    background-color: #f5f5f5;
}

.blog-list img {
    width: 420x;
    height: 280px;
    object-fit: cover;
}

.blog-list .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.blog-list li:hover .overlay {
    opacity: 1;
}

.blog-list .overlay h3 {
    font-size: 25px;
    margin: 0;
}

.blog-list .overlay p {
    font-size: 20px;
    margin: 40px 0;
}


/* Стили для рекламы */

.ad {
    background-color: #f5f5f5;
    font-size: 18px;
}


/* Стили для кнопки "Смотреть список дальше" */

.watch-more-button {
    text-align: right;
    margin-right: 80 px;
    margin-top: 20px;
    /* Отступ сверху */
}

.watch-more-button button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.watch-more-button button:hover {
    background-color: #555;
}

.banner-link .banner-image {
    /* Изменяет оттенок изображения на зеленый (120 градусов) */
    transition: filter 0.3s ease;
    /* Добавляет плавный переход при изменении стиля */
}

.banner-link:hover .banner-image {
    filter: hue-rotate(120deg);
    /* Возвращает изображение в изначальный зеленый цвет (0 градусов) */
}